<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BlogaBloga</title>
  <link rel="icon"  href='https://img.icons8.com/dusk/64/000000/b.png'/>
</head>
<body>
  <div class="container">
    <h1 class="mb-4">New Article</h1>

    <% if(post) { %> 
      <form action="/edit/<%= post.id %>" id="submit" method="POST">
    <% } else { %> 
      <form action="/create" id="submit" method="POST">
    <% } %>  
      <div class="form-group">
        <label for="title">Title</label>
        <% if(!!post) { %> 
          <input type="text" value="<%= post.title %>" name="title" id="title" class="form-control">
        <% } else { %> 
          <input required value="" type="text" value="" name="title" id="title" class="form-control">
        <% } %> 
      </div> 
      <div class="form-group">
        <label for="content">Content</label>
        <% if(post) { %> 
          <textarea required name="content" id="content" class="form-control "><%= post.content %> </textarea>
        <% } else { %> 
          <textarea required name="content" id="content" class="form-control "></textarea>
        <% } %>
      </div>
      
      <a href="/" class="btn btn-secondary">Cancel</a>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</body>
</html>